{{ define "content" }}

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    click
    <a
      href="https://api.whatsapp.com/send?phone=528119655345&text=%C2%A1Hola!%20%C2%BFMe%20podr%C3%ADan%20pasar%20m%C3%A1s%20informaci%C3%B3n%20de%20las%20m%C3%A1quinas%20expendedoras%3F"
      class="float"
      target="_blank"
    >
      <i class="fa fa-whatsapp my-float"></i>
    </a>

{{ range $section := .Params.sections }}
  {{ $include_dict := dict "section" $section "Site" $.Site }}
  {{ $component := print $section.type ".html" }}
  {{ partial $component $include_dict }}
{{ end }}

{{ end }}
