{{ $section := .section }}
<section id="{{ $section.section_id }}" class="block posts-block bg-{{ $section.background }} outer">
  <div class="block-header inner-small">
    {{ if $section.title }}
    <h2 class="block-title">{{ $section.title }}</h2>
    {{ end }}
    {{ if $section.subtitle }}
    <p class="block-subtitle">
      {{ $section.subtitle | safeHTML }}
    </p>
    {{ end }}
  </div>
<div class="row">
  <div class="column">
    <img src="https://i.imgur.com/rhIyZLe.png" alt="Jumex" style="width:100%">
  </div>
  <div class="column">
    <img src="img_forest.jpg" alt="Doritos" style="width:100%">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/1v6x7bP.png" alt="Barcel" style="width:100%">
  </div>
  <div class="column">
    <img src="img_mountains.jpg" alt="Tostitos" style="width:100%">
  </div>
  <div class="column">
    <img src="img_mountains.jpg" alt="Pepsi" style="width:100%">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/NKtOnGK.png" alt="Cheetos" style="width:100%">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/MfG0LJg.png" alt="Hershey" style="width:100%">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/HgJ3NAg.png" alt="Coca Cola" style="width:100%">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/iYEfDiA.png" alt="Bimbo" style="width:100%">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/nl3NuEA.png" alt="Arizona" style="width:100%">
  </div>
</div>
</section><!-- .block -->
